{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Shop Online</h5>
        <div class="card-body">
            <p class="card-text"> FInd the nearest stockist for our favorite brews</p>
            <a href="https://ebay.co.uk" class="btn btn-danger" target="_blank">Go Shopping!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}